<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/vote/" method="post">
        {% csrf_token %}
        <h1>Programming Languages</h1>
        {% for lang in languages %}
            <input type="radio" name="language" value="{{lang.id}}"> {{lang.name}}->{{lang.votes}}<br>
        {% endfor %}
        <br>
        <button type="submit">VOTE</button>
    </form>
</body>
</html>
